SERVER_PORT=changme

DB_USERNAME=changme
DB_PASSWORD=changme
MYSQL_PORT=changme

KEYCLOAK_CLIENT_ID=changme
KEYCLOAK_CLIENT_SECRET=changme
KEYCLOAK_URL=changme
KEYCLOAK_REALM=changme

http://localhost=changeme